<div class="container">
  <div class="row">
    <div class="col-md-12">
          <h2 class="card-title text-center text-black py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/npcs" class="btn btn-info">NPC's</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addnpc" class="btn btn-info">Add NPC</a>
            </li>
          </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
